<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
    <link type="text/css" rel="stylesheet" href="../CSS/register.css">
<style type ="text/css">

</style>    
</head>
<body>
    <div id = "background">
        <div class = "registerGet">
            <div class = "registerhead">
                <p class = "p1" >Create you Flickfinder account</p>
            </div>
            <!-- The part of email address -->
            <div class = "registerEmail">
                <p class = "heading">Email Address</p>
                <input type="text"  class = "logInput" placeholder="please input your email address">
            </div>
            <!-- the part of account number -->
            <div class = "registerEmail">
                <p class = "heading">Account name</p>
                <input type="text" class = "logInput" placeholder="Please input the account number">
            </div>
            <!--  -->
            <div class = "registerEmail">
                <p class = "heading">Password</p>
                <input type="password" class = "logInput" placeholder="please input the password number">
            </div>
            <div class = "registerEmail">
                <p class = "heading">Confirmed password</p>
                <input type="password" class = "logInput" placeholder="please input the password number">
            </div>
            <div class = "registerEmail">
                <a href=" " target="_self"><button class = "registerGbutton">Click here to reigister</button></a>
            </div>           

        </div> 
    </div>
    
</body>
</html>