<!DOCTYPE html>
<html>
  <head>
    <title>FlickFinder </title>
    <link rel="stylesheet" type="text/css" href="/css">
    <link rel="stylesheet" type="text/css" href="css/landing">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>
    <div class="container" id="landing-jumbotron">
      <h1> FLICKFINDER </h1>
      <h2> YOU GET THE SNACKS I GET THE MOVIE </h2>
      <div class="button-container">
        <a href="/login">Sign in</a>
        <a href="/register">Register</a>
      </div>
    </div>
  </body>
</html>