<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>FlickFinder | Welcome </title>
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
        <div class="container">
            <h1> FLICKFINDER </h1>
            <h2> YOU GET THE SNACKS I GET THE MOVIE </h2>
            <div class="button-container">
              <a align=center href="/log">Sign in</a>
              <a align=center href="/register">Register</a>
            </div>
          </div>
  </body>
</html>
