<!DOCTYPE html>
<html>
  <head>
    <title>FlickFinder </title>
    <link rel="stylesheet" type="text/css" href="/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav>
      <div>
        <a href="/home">FLICKFINDER</a>
      </div>
      <form action="/search">
        <input type="text" name="search" placeholder="Type a movie name">
        <input type="submit" value="Search">
        <a href="/">Sign Out</a>
      </form>
    </nav>
  </body>
</html>