<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main_app/home.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/style.css' %}">

    <meta charset="UTF-8">
    <title>FlickFinder | Rate a movie</title>
</head>
<body>
    <header>
        <div class="navigation">
            <a href="/home" class="logo">FlickFinder</a>
            <nav>
                <ul>
                    <li><form>
                      <input type="text" name="search" placeholder=" Type a  movie name" id="search"></form>
                        <div class="dropdown">
                          <a  class="list-group" id="list" href="/rating"> </a>
                        </div></li>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/Aboutus">About</a></li>
                    <li><a href="/log">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

  <body>
      <h2>Movie title</h2>
      <form>
        <label for="rating">Rate this movie:</label>
        <div class="dropdown">
        <select id="rating" name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <input type="submit">
      </form>
      </div>
 </body>


<footer>
    <ul>
        <li>Copyright &copy; 2020 flickfinder.com, all rights reserved Group Y7 </li>
        <li><a href="/Aboutus">About Us</a></li>
        <li><a href="/condition">Condition of Use</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
    </ul>
</footer>
</html>
