<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlickFinder | Register</title>
    <link type="text/css" rel="stylesheet" href="{% static 'main_app/register.css' %}">
<style type ="text/css">

</style>    
</head>
<body>
    <div id = "background">
        <div class = "registerGet">
            <div class = "registerhead">
                <p class = "p1" >Create your Flickfinder account</p>
            </div>
            <!-- The part of email address -->
            <div class = "registerEmail">
                <p class = "heading">Email Address</p>
                <input type="text"  class = "logInput" placeholder="Please enter your email address">
            </div>
            <!-- the part of account number -->
            <div class = "registerEmail">
                <p class = "heading">Username</p>
                <input type="text" class = "logInput" placeholder="Please enter the username">
            </div>
            <!--  -->
            <div class = "registerEmail">
                <p class = "heading">Password</p>
                <input type="password" class = "logInput" placeholder="Password">
            </div>
            <div class = "registerEmail">
                <p class = "heading">Confirmed password</p>
                <input type="password" class = "logInput" placeholder="Confirm Password">
            </div>
            <div class = "registerEmail">
                <a href=" " target="_self"><button class = "registerGbutton">Click here to register</button></a>
            </div>           
            
        </div> 
    </div>
    
</body>
</html>
