<!DOCTYPE html>
<html>
  <head>
    <title>FlickFinder </title>
    <link rel="stylesheet" type="text/css" href="/css">
    <link rel="stylesheet" type="text/css" href="/css/movies">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>
    <div class="movies container">
      <div class="movie">
        <div class="movie-title">
          The Joker (2019) <a target="blank" href="https://www.imdb.com/title/tt7286456/">more info</a>
        </div>
        <div class="movie-rating">
          You rated this movie: <form><input type="hidden" name="id" value="7286456"><input type="text" name="rating" value="5"><input type="submit" value="Change"></form>
        </div>  
      </div>
      <div class="movie">
        <div class="movie-title">
          American Psycho (2001) <a target="blank" href="https://www.imdb.com/title/tt0144084/">more info</a>
        </div>
        <div class="movie-rating">
          You rated this movie: <form><input type="hidden" name="id"><input type="text" name="rating" value="5"><input type="submit" value="Change"></form>
        </div>  
      </div>
      <div class="movie">
        <div class="movie-title">
          Fight Club (1999) <a target="blank" href="https://www.imdb.com/title/tt0137523/">more info</a>
        </div>
        <div class="movie-rating">
          You rated this movie: <form><input type="hidden" name="id"><input type="text" name="rating" value="5"><input type="submit" value="Change"></form>
        </div>
      </div>
      <div class="movie">
        <div class="movie-title">
          They Live (1988) <a target="blank" href="https://www.imdb.com/title/tt0096256/">more info</a>
        </div>
        <div class="movie-rating">
          Rate this movie: <form><input type="hidden" name="id"><input type="text" name="rating"><input type="submit" value="Submit"></form>
        </div>
      </div>  
      <div class="movie">
        <div class="movie-title">
          Shrek (2001) <a target="blank" href="https://www.imdb.com/title/tt0126029/">more info</a>
        </div>
        <div class="movie-rating">
          You rated this movie: <form><input type="hidden" name="id"><input type="text" name="rating" value="5"><input type="submit" value="Change"></form>
        </div>  
      </div>
    </div>
  </body>
</html>